<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="matricula">
      <mat-header-cell *matHeaderCellDef> Matrícula </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.matricula}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dataContratacao">
      <mat-header-cell *matHeaderCellDef> Data Contratação </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dataContratacao}} </mat-cell>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-raised-button color="accent" (click)="visualizar(element.id)">Visualizar!</button> 
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>